<div class="row">
  <div class="col-md-6 ">
    <p id="notice"><%= notice %></p>

    <h1>Choose Segment</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Segments</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="segment-names">
        <%= render partial: "select_segment" %>
      </tbody>
    </table>

  </div>
</div>