<!DOCTYPE html>
<html>
  <head>
    <title>Questionaire-App</title>
      <%= render 'layouts/rails_default' %> <!-- REMOVING DEFAULT TAG STYLE SHEET AND js-->
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield :sidebar %>
      <%= yield %>
    </div>
  </body>
</html>
